.Calendar {
  margin-top: 1.2rem;
}

.Calendar .weekDays {
  display: flex;
  margin-bottom: 0.4rem;
}

.Calendar .weekDays li {
  width: 4rem;
  height: 3.2rem;

  display: grid;
  place-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text);
}

.Calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 4rem);
  grid-template-rows: repeat(6, 4rem);
  row-gap: 0.8rem;
}

.Calendar .days li {
  display: grid;
  place-items: center;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  border-radius: 0.8rem;

  transition: background-color 0.3s ease-in-out;
}



.Calendar .days li.today {
  background-color: var(--primary);
  color: var(--white);

  position: relative;
}

.Calendar .days li.today::after {
  content: '';
  width: 0.4rem;
  height: 0.4rem;

  position: absolute;
  bottom: 0.6rem;

  background-color: var(--white);
  border-radius: 50%;
}

.Calendar .days li.selected {
  background-color: var(--primary);
  border-radius: 0;
  color: var(--white);
}

.Calendar .days li.selected.first {
  border-radius: 0.8rem 0 0 0.8rem;
}

.Calendar .days li.selected.last {
  border-radius: 0 0.8rem 0.8rem 0;
}

.Calendar .days li.disabled {
  cursor: default;
  opacity: 0.5;
}

.Calendar .days li:hover:not(.disabled) {
  cursor: pointer;
}

.Calendar .days li:hover:not(.today, .selected) {
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
}
