nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: 0;

  font-size: 1.6rem;
  font-weight: 700;
  color: var(--heading);
}

nav > button:not(:nth-child(2)) {
  width: 4rem;
  height: 4rem;
}

nav > button svg {
  fill: var(--arrow)
}

nav > button:hover:not(:nth-child(2)) {
  background-color: var(--hover);
  border-radius: 50%;
}
