label.toggleTheme {
  width: 12rem;
  height: 5.2rem;
  padding-inline: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: var(--card-bg);
  border-radius: 999.9rem;

  cursor: pointer;
  animation: fromRight 0.5s ease-out forwards;
  transition: 0.3s ease-out;
}

label.toggleTheme::after {
  content: '';

  width: 3.2rem;
  height: 3.2rem;

  background-color: var(--toggle-bg);
  border: 0.4rem solid var(--toggle-border);
  border-radius: 50%;

  position: absolute;
  left: 1rem;

  transition: 0.3s ease-out;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked + label::after {
  transform: translateX(150%);
  transition: 0.3s ease-out;
}

@keyframes fromRight {
  0% {
    transform: translateX(700%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
