* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimezeLegibility;
}

:root {
  font-size: 62.5%;

  --picture-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  --image-overlay: rgba(94, 94, 94, 0.2);
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-size: 1.6rem;
  font-family: 'Hepta Slab', serif;

  min-height: 100vh;
  padding: 14rem 13.4rem 0rem 11.1rem;

  background: url(./assets/noise-bg.png) var(--image-overlay);
  background-color: #121214;

  display: grid;
  grid-template-columns: 38.5rem 80rem;
  justify-content: space-between;
}

.headline {
  position: sticky;
  top: 14rem;
}

h1 {
  max-width: 38.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6rem;
  color: #ffffff;
}

img[alt='Arrow Icon'] {
  margin-top: 3.2rem;
}

img:not([alt='Arrow Icon']) {
  width: 100%;
  height: 100%;

  transition: 800ms ease-in-out;
}

section {
  display: grid;
  row-gap: 3.2rem;
}

.grid {
  max-width: 80rem;
  height: 60rem;
  display: grid;
  gap: 3.2rem;
}

.gallery-l {
  grid-template-areas:
    'a b'
    'a c';
}

.gallery-r {
  grid-template-areas:
    'a c'
    'b c';
}

.gallery-l div:nth-child(1) {
  grid-area: a;
  height: 100%;
}

.gallery-l div:nth-child(2) {
  grid-area: b;
}

.gallery-l div:nth-child(3) {
  grid-area: c;
}

.gallery-r div:nth-child(1) {
  grid-area: a;
}

.gallery-r div:nth-child(2) {
  grid-area: b;
}

.gallery-r div:nth-child(3) {
  grid-area: c;
  height: 100%;
}

section > .image-container {
  min-width: 80rem;
  width: 100%;
}

.image-container {
  overflow: hidden;

  position: relative;
  transition: 400ms ease-in-out;
}

.image-container::after {
  content: 'Abstract Name';

  height: 7.3rem;
  width: 100%;
  padding-left: 2.4rem;

  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #ffffff;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  transition: opacity 800ms ease-in-out;
  opacity: 0;
}

.image-container:hover {
  outline: 0.4rem solid #fff;
}

.image-container:hover::after {
  opacity: 1;
}

.image-container:hover img {
  transform: scale(2.1354);
  transition: 800ms ease-in-out;
}

img.full-w {
  width: 100%;
  height: 40rem;
}
