@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: $gray-200;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  color: $gray-400;
}
