// $ Colors
$main-bg: #242424;
$app-bg: #151515;
$gray: #d9d9d9;
$white: #ffffff;

// $ Gradient
$gradient: linear-gradient(
  90deg,
  #ff0000 5.21%,
  #ff8a00 16.48%,
  #ffe600 27.74%,
  #14ff00 39.35%,
  #00a3ff 49.37%,
  #0500ff 61.18%,
  #ad00ff 72.26%,
  #ff00c7 83.53%,
  #ff0000 94.61%
);
