#Calendar {
  width: 34.4rem;
  min-height: 42.8rem;
  padding: 3.2rem;

  box-shadow: 0rem 0.8rem 3.2rem rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  border-radius: 1.6rem;
}

nav {
  height: 4rem;
  margin-bottom: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;

  cursor: pointer;
}

nav div h1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

nav button {
  width: 4rem;
  height: 4rem;

  display: grid;
  place-items: center;
  background: none;
  border: 0;
}

nav button.sideNavigation:hover {
  width: 4rem;
  height: 4rem;

  background-color: var(--hover);
  border-radius: 50%;
}
