:root {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #6200ee;
  --hover: #ece0fd;
  --white: #ffffff;
  --background: #f5f5f5;
  --heading: #333333;
  --text: #666666;
  --card-bg: #FFFFFF;
  --arrow: #666666;
  --toggle-bg: #FFF9EA;
  --toggle-border: #FFCA3A;
}

[data-theme="dark"] {
  --background: #1E1E1E;
	--hover: #202024;
	--text: #d0d0d0;
	--heading: #ffffff;
  --card-bg: #121214;
	--arrow: #d2d2d2;
  --toggle-bg: #3C3C43;
  --toggle-border: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  display: grid;
  place-items: center;

  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}