* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 62.5%;

  --linear: linear-gradient(
    90deg,
    #ff0000 5.21%,
    #ff8a00 16.48%,
    #ffe600 27.74%,
    #14ff00 39.35%,
    #00a3ff 49.37%,
    #0500ff 61.18%,
    #ad00ff 72.26%,
    #ff00c7 83.53%,
    #ff0000 94.61%
  );
  --background: #151515;
  --gray: #d9d9d9;
  --white: #ffffff;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  background: #242424;
  height: 100svh;
  height: 100vh;
  display: grid;
  place-content: center;
}

h1 {
  margin-top: 41.5rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.8rem;
  color: var(--white);
}

main {
  width: 43rem;
  height: 90vh;
  background-color: var(--background);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.circle {
  width: 84.6rem;
  height: 84.6rem;
  background-color: #8703fc;
  box-shadow: 0px 0px 53px 13px rgba(135, 3, 252, 0.91);
  border-radius: 50%;
  position: absolute;
  top: -52.6rem;
  left: calc(50% - 84.6rem / 2 + 1.2rem);
  opacity: 65%;
}

.controls {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.controls > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.controls i {
  font-size: 2.4rem;
  color: var(--gray);
}

.bar {
  width: 28rem;
  height: 0.5rem;
  background: var(--gray);
  border-radius: 1.2rem;
  position: relative;
}

.bar::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--background);
  border: 0.15rem solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: -0.65rem;
  right: 4.2rem;
  cursor: pointer;
}

.bar:hover::after {
  outline: .2rem solid var(--white);
}

.bar.color {
  background: var(--linear);
}

.bar.color::after {
  right: 6.4rem;
  background: #8b03fb;
}
