// $ Colors
$background: #292738;
$card: #363447;
$white: #ffffff;
$green-text: #81fbb8;
$line: #4A4556;
$border: rgba(217, 217, 217, 0.1);

// $ Linear
$graph-linear-1: linear-gradient(121.94deg, #ce9ffc 15.98%, #7367f0 82.85%);
$graph-linear-2: linear-gradient(121.94deg, #df9780 15.98%, #a66de9 82.85%);
$top-a-linear: linear-gradient(180deg, #81fbb8 0%, #28c76f 100%);
$bot-a-linear: linear-gradient(180deg, #ea5455 0%, #feb692 100%);
$bar-linear: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);

// $ Shadow
$shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
