// $ Colors
$card-bg: #6d67d0;
$blue: #87ebcd;
$yellow: #f6c833;
$white: #FFFFFF;
$gray-100: #e7e6fb;
$gray-200: #dad8f7;
$gray-300: #c2bff4;

// $ Filter
$backdrop10: blur(1rem);

// $ Sun Gradient
$sun-gradient: linear-gradient(
  180deg,
  rgba(251, 219, 96, 0.2) 0%,
  rgba(251, 219, 96, 0) 101.89%
);
