@use "_header";
@use "_form";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
}

#root {
  width: 100%;
}

h2,
label {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  color: $gray-400;
}

main {
  width: 100%;
  max-width: 59.2rem;
  margin-inline: auto;
  padding: 3.2rem;
  border: $border;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
