h1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #0F172A;
  margin-bottom: 1.6rem;
}

h2, li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #0F172A;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #334155;
}

header img[alt="Exchange icon"] {
  width: 2.4rem;
  height: 2.4rem;
}
header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
header .wrapper .money-wrapper {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #94A3B8;
  border-radius: 0.8rem;
}
header .wrapper .money-wrapper:focus-within {
  border: 0.2rem solid #7C3AED;
  outline: #7C3AED;
  outline-width: 1.5rem;
}
header .wrapper .money-wrapper input {
  width: 15.8rem;
  height: 100%;
  padding-left: 1.6rem;
  background: 0;
  outline: 0;
  border: 0;
}
header .wrapper .money-wrapper .dropdown {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 0.8rem 0.8rem 0;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header .wrapper .money-wrapper .dropdown:hover {
  background-color: #ede9fe;
}
header .wrapper .money-wrapper .dropdown .selected {
  height: 100%;
  padding-inline: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
header .wrapper .money-wrapper .dropdown .selected::before {
  content: "";
  width: 0.1rem;
  height: 2.4rem;
  background-color: #94A3B8;
  position: absolute;
  top: 1.6rem;
  left: 0;
}
header .wrapper .money-wrapper .dropdown .selected::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(./assets/chevron.svg) no-repeat;
}
header .wrapper .money-wrapper .dropdown ul {
  width: 16rem;
  position: absolute;
  top: 6.2rem;
  left: 0;
  z-index: 999;
  display: none;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 0.8rem;
  box-shadow: 0px 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
}
header .wrapper .money-wrapper .dropdown ul.active {
  display: flex;
}
header .wrapper .money-wrapper .dropdown ul li {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
header .wrapper .money-wrapper .dropdown ul li:hover {
  background-color: #ede9fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding-inline: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8FAFC;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

span {
  display: block;
  width: 2.4rem;
  border-radius: 50%;
}

main {
  height: 51.2rem;
  width: clamp(32rem, 100%, 80rem);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-color: #FFFFFF;
  border-radius: 1.6rem;
}

/*# sourceMappingURL=styles.css.map */
