section:nth-child(2) {
  .wrapper {
    margin-top: 2.4rem;

    .tooltip {
      padding: 0.8rem;
      background-color: white;
      border-radius: 0.4rem;
      box-shadow: 0 0.4rem 1.6rem rgb(15 23 42 / 0.15);
    }

    .chart-controls {
      margin: -2.2rem 0.8rem 0 4rem;
      display: flex;
      justify-content: space-between;

      button {
        width: 4rem;
        height: 2.4rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover,
        &.active {
          padding: 0.4rem 0.8rem;
          color: white;
          background-color: #7c3aed;
          border-radius: 999rem;
        }
      }
    }
  }
}
