// $ Colors
$background: #F8FAFC;
$chart-background: #FFFFFF;
$text-primary: #0F172A;
$text-secondary: #334155;
$stroke: #94A3B8;
$primary: #7C3AED;

// $ Linear
$chart-linear: linear-gradient(180deg, rgba(124, 58, 237, 0.5) 21.15%, rgba(124, 58, 237, 0) 100%);

// $ Shadow
$shadow: 0px .4rem 3.2rem rgba(15, 23, 42, 0.15);