@use "_fonts";
@use "_header";

@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding-inline: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

span {
  display: block;
  width: 2.4rem;
  border-radius: 50%;
}

main {
  height: 51.2rem;
  width: clamp(32rem, 100%, 80rem);
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  background-color: $chart-background;
  border-radius: 1.6rem;
}
