@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
}

button {
  cursor: pointer;
}